<!-- <div class="grey-bg" style="background-color:rgb(168, 168, 168)">
  <br>
</div> -->
<hr style="height:1px;background-color:rgb(109, 109, 109);">
<div class="background">
  <div class="footer row text-center">

    <div class="section1 col-3">
      <h5>Get to Know Us</h5>
      <div class="footerbody">
        <p>
          About Us
          <br> Careers
          <br> Press Releases
          <br> Jupiter Cares
          <br> Gift a Smile
        </p>
      </div>
    </div>

    <div class="section2 col-3">
      <h5>Connect With Us</h5>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-whatsapp"></i>
    </div>

    <div class="section3 col-3">
      <h5>Make Money With Us</h5>
      <p >
        Sell on Jupiter
        <br>Become an Affiliate
        <br>Fulfilment by Jupiter
        <br>Advertise Your Products
        

      </p>
    </div>
    <div class="section3 col-3">
      <h5>Let Us Help You</h5>
      <p class="footerbody">
          Your Account
          <br>Returns Centre
          <br>100% Purchase Protection
          <br>Jupiter App Download
          <br>Help
      </p>
    </div>

  </div>
</div>