<section class="bg-title-page" style="text-align:center;height:400px;width:100% ">
 <div class='imageC' style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
   <img src="assets/images/t23.jpg" style=	"height:400px;width:100%">
 
  <p style="font-size:35px;text-shadow:3px 1px rgb(1, 7, 10);color:rgba(113, 184, 243, 0.548);position:absolute;top:40%;left:72%;transform:translate(-50%,-50%)">
    LATEST COLLECTIONS </p>
  </div>
 
</section><br/>
<section class="bgwhite p-t-15 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-25">
        <div class="leftbar p-r-20 p-r-0-sm">
          <!--  -->
          <h4 class="m-text14 p-b-7">
            Categories
          </h4>

          <ul style="padding-left: 10px">
            <li>
              <a href="#" class="s-text13 active1">
                All
              </a>
            </li>

            <li>
              <a href="#" class="s-text13">
                Women
              </a>
            </li>

            <li>
              <a href="#" class="s-text13">
                Men
              </a>
            </li>

            <li>
              <a href="#" class="s-text13">
                Kids
              </a>
            </li>

            <li>
              <a href="#" class="s-text13">
                Accessories
              </a>
            </li>
          </ul>


          <div class="search-product pos-relative bo4 ">
            <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search Products...">

            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
              <i class="fs-12 fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
        <!--  -->
        <div class="flex-sb-m flex-w p-b-35">
          <div class="flex-w">
            <div class="rs2-select2 bo4 of-hidden m-t-5 m-b-5 m-r-10">
              <select class="selection-2" name="sorting">
                <option>Default Sorting</option>
                <option>Popularity</option>
                <option>Price: low to high</option>
                <option>Price: high to low</option>
              </select>
            </div>

            <div class="rs2-select2 bo4 of-hidden m-t-5 m-b-5 m-r-10">
              <select class="selection-2" name="sorting">
                <option>Price</option>
                <option>0.00 - 50.00</option>
                <option>50.00 - 100.00</option>
                <option>100.00 - 150.00</option>
                <option>150.00 - 200.00</option>
                <option>200.00+</option>

              </select>
            </div>
          </div>

          <span class="s-text8">
            Showing 1–12 of 16 results
          </span>
        </div>
	<!-- Pr
oduct -->
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71HlMlVq8TL._SL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 1
        </a>

        <span class="block2-price m-text6 p-r-5">
          $75.00
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71KjfWD%2ByeL._SL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart  trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 2
        </a>

        <span class="block2-price m-text6 p-r-5">
          $92.50
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61Rr7eRcIxL._SL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 3
        </a>

        <span class="block2-price m-text6 p-r-5">
          $165.90
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61dEvdPxodL._SL1005_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 4
        </a>

        <span class="block2-oldprice m-text7 p-r-5">
          $29.50
        </span>

        <span class="block2-newprice m-text8 p-r-5">
          $15.90
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71mcOFI7mDL._SL1200_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 5
        </a>

        <span class="block2-price m-text6 p-r-5">
          $75.00
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61dEvdPxodL._SL1005_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 6
        </a>

        <span class="block2-price m-text6 p-r-5">
          $92.50
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61fJNkWhRQL._UL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 7
        </a>

        <span class="block2-price m-text6 p-r-5">
          $75.00
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71y5DDGJmaL._UL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 8
        </a>

        <span class="block2-price m-text6 p-r-5">
          $92.50
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61fJNkWhRQL._UL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 9
        </a>

        <span class="block2-price m-text6 p-r-5">
          $165.90
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale" (click)="Details()">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71gdBQP%2BqGL._UL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 10
        </a>

        <span class="block2-oldprice m-text7 p-r-5">
          $29.50
        </span>

        <span class="block2-newprice m-text8 p-r-5">
          $15.90
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71gdBQP%2BqGL._UL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 11
        </a>

        <span class="block2-price m-text6 p-r-5">
          $75.00
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->
    <div class="block2">
      <div class="block2-img wrap-pic-w of-hidden pos-relative">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71gdBQP%2BqGL._UL1500_.jpg" alt="IMG-PRODUCT">

        <div class="block2-overlay trans-0-4">
          <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
          </a>

          <div class="block2-btn-addcart trans-0-4">
            <!-- Button -->
            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <div class="block2-txt p-t-20">
        <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
          Product 12
        </a>

        <span class="block2-price m-text6 p-r-5">
          $92.50
        </span>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Pagination -->
<div class="pagination flex-m flex-w p-t-26 justify-center" style="margin-left: 550px">
<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
</div>
</div>
</div>

</section>