<hr style="height:1px; background-color:black;"> 
<div class="background">
  <div class= "upper-half">
    <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/profil1.jpg">
            <div class="card-body ">
              <h4 class="card-title text-center">Georgina W</h4>
              <p>Email: georginawilliams@gmail.com</p>
              <p>Date of Birth: 12/02/1991</p>
              <p>Phone Number: +91 1234567892 </p>
              <div class="text-center">
              <a href="#" class="btn btn-outline-light ">Edit Profile</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="lower half">

    </div>
  </div>